*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #F6F8F9;
}

.container-main{
    background-color: #fff;
    width: 900px;
    height: 630px;
    margin: auto;
    border-radius: 0px 0px 8px 8px;
    
}

.logo-boolean{
    vertical-align: middle;
}

.section-header{
    font-weight: bold;
    font-size: 40px;
    padding-left: 15px;
    padding-top:10px;
    padding-bottom: 10px;

}


.section{
    background-color: #fff;
    width: 900px;
    margin: auto;
    padding-left: 50px;
}

.section-nav{
    margin-top: 50px;
    margin-bottom: 4px;
    height: 55px;
    border-radius: 8px 8px 0px 0px;
}

.button{
    padding: 7px 15px 7px 15px;
    margin-top: 15px;
    border-radius: 7px;
    font-weight: bold;
    border: none;
}

.Add-Task{
    background-color: #47ADF1;
    color: #fff;
}

.Add-Section{
    background-color: #fff;
    color: #CED3D7;
    border: 1px solid #CED3D7 ;
}

.Title{
    padding-top: 30px;
}

.Title h1,h2,.Info-Task{
    display: inline-block;
}

.Title h1{
    font-size: 25px;
    color: #454952;
}

.Title h2{
    color: #454952;
    padding-top: 10px;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 10px;


}
.symbol-LeftTitle{
    display: inline-block;
    font-size: 20px;
    color: #454952;
    font-weight: bold;
}
.Task-ok{
    color: #6BC3AE;
    border: #6BC3AE
}

.Task-no{
    color: #EC6C67;
    border:#EC6C67 
}

.Task-ok,.Task-no{
    border: solid 3px;
    border-radius: 50%;
    font-weight: bold;
    font-size: small;
    margin-right: 5px;
    margin-left: 10px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 1px;
}

.Info-Task{
    padding: 5px 10px;
    border-radius: 15px;
}

.Editorial{
    background-color: #45ABEA;
}

.Q1-Goals{
    background-color:#9C72E4 ;
}

.Recruiting{
    background-color: #64C0A9;
}

.Mobile{
    background-color: #F29E33;
}

.Sales{
    background-color: #B0C926;
}

.Website{
    background-color: #D863A1;
}

